extends layout

block content
    .container
        .jumbotron.text-center
            h1
                span.fa.fa-lock Node Auth
            p Login or register with:
            a(href='/auth/facebook').btn.btn-primary
                span.fa.fa-facebook Facebook
