include  userLiMixin

doctype
html
    head
    body
        h1 Hello advance Jade

        -var followerCount = 2;

        //You could do this like this
        - if (followerCount === 0 ) {
        p You have no followers.
        - } else if (followerCount === 1) {
        p You have one follower.
        - } else {
        p You have #{followerCount} followers.
        -}

        -var followerCount = 1
        // However with Jade is a lot cleaner to use Jade
        // and do it like this and have if in you code :)
        p
            if followerCount === 0
                | You have no followers.
            else if followerCount === 1
                | You have one follower.
            else
                | You have #{followerCount} followers.

        - var users = [ { name: "Jorge", email:"j@gmail.com" }, { name: "Carlos", email:"c@gmail.com" }]

        // you can loop through an array to create the same HTML for each element
        ul
            each userObject, i in users
                // here you could use a mixin
                // mixin userLi(user, i)
                // or implement the idea of a partial
                // this will work just fine because userObject is already used in the user.jade fiel
                include user